.saved-dice {
  width: 324px;
  height: 54px;
  background-color: rgb(145,172,159);
  padding: 5px;
  align-items: center;
}

.saved-die {
  margin: 5px;
  width: 40px;
  height: 40px;
  background-color: rgb(18,20,32);
  border: 2px solid rgb(190,190,190);
  align-items: center;
  justify-content: center;
}

.saved-die p {
  font-size: 32px;
  color: rgb(190,190,190);
}
