#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#app * {
  display: flex;
}


#app-header {
  align-self: stretch;
  background-color: rgb(101,132,159);
  padding: 5px 20px;
  color: white;
}


#app-content {
  flex-direction: column;
}


.roll-row {
  margin-top: 10px;
  align-items: center;
}


.active-button {
  margin-right: 10px;
  width: 80px;
  height: 60px;
  background-color: rgb(72,70,85);
  border: 2px solid white;
  align-items: center;
  justify-content: center;
}
.disabled-button {
  margin-right: 10px;
  width: 80px;
  height: 60px;
  background-color: rgb(72,70,85);
  border: 2px solid rgb(190,190,190);
  align-items: center;
  justify-content: center;
}
.active-button p {
  color: white;
}
.disabled-button p {
  color: rgb(190,190,190);
}
